/*  display property */
/* .text {
    color: #38ed38
}

.important {
    color: #f11;
    background-color: #f0f406;;
}

.block {
    background-color: #2bbde1;
    color: #f99;
} */


.block-block {
  background-color: #f77;
}

.inline-inline {
    background-color: #6aea07;
}

.block-inline {
    background-color: #b312cc;
}

.inline-block {
    background-color: #ee0c2e;
}