/* box model */

/*  1 - every element on a web page comes in the shape of a BOX */


/* to have the total size of an element you need to add all these properties together to get the box model */
/* .box {
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 5px solid;
} */

.parent {
    width: 500px;
    height: 400px;
    background-color: #e36060;
}

.child {
    width: 200px;
    height: 200px;
    background-color: #e9e46c;
    /* overflow: scroll; */
    /* overflow-y: scroll; */
}

.content {
    width: 800px;
}